@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: inline-block;
  width: 100%;
}

li {
  list-style: none;
}

.hero-data {
  margin: auto 0 auto 40px;
}

.home-content .text-1 {
  font-size: 27px;
  font-weight: 500;
}

.home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home-content .text-3 span {
  color: crimson;
  font-weight: 800;
}

.image {
  width: 350px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transform: scale3d(1, 1, 1);
  transition: 2s;
  box-shadow: 4px 4px 7px black;
}

.image:hover {
  width: 350px;
  
  transition: 1s;
  box-shadow: 4px 4px 7px black;
}

.para {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  color: var(--para-color);
}

/*--------------------------------
 header and navbar style start
------------------------- */
.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.4rem;
  position: relative;
  background-color: crimson;
}

.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 3px 3px 7px rgb(232, 151, 151);
}

.sticky .section-hero {
  margin-top: 8rem;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(16, 8, 241);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.5rem;
}

.navbar-list .navbar-btn {
  padding: 0.7rem;
  background-color: white;
  border: 1px solid orangered;
  color: black;
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
}

.para-1 {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
}

.navbar-list li a {
  color: rgb(10, 0, 0);
}

.navbar-list .navbar-link:hover,
.navbar-list .navbar-link:active {
  color: limegreen;
}

.navbar-btn:hover,
.navbar-btn:active {
  background-color: rgb(51, 11, 230);
  color: white;
}

.navbar-link {
  text-transform: uppercase;
}

.mobile-nav-icon {
  font-size: 4rem;
}

.mobile-navbar-btn {
  display: none;
}

.mobile-nav-icon[name="close"] {
  display: none;
}


.section {
  padding: 9.6rem 0;
}

#skills {
  display: grid;
  height: 100%;
  place-items: center;
}

.skills-bar {
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 25px 30px;
  border-radius: 10px;
}

.skills-bar .bar {
  margin: 20px 0;

}

.skills-bar .bar:first-child {
  margin-top: 0;
}

.skills-bar .bar .info {
  margin-bottom: 5px;
}

.skills-bar .bar .info span {
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  height: 10px;
  position: relative;
  width: 100%;
  transform: scale(0);
  transform-origin: left;
  background: #f0f0f0;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;

}

@keyframes animate {
  100% {
    transform: scale(1);

  }
}

.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #6665ee;
  position: absolute;
  border-radius: 12px;
  transform: scale(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: -10px;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  right: 0;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line.html span {
  width: 95%;
}

.progress-line.css span {
  width: 90%;
}

.progress-line.bootstrap span {
  width: 80%;
}

.progress-line.sass span {
  width: 40%;
}

.progress-line.js span {
  width: 60%;
}

.progress-line.ja span {
  width: 55%;
}
.progress-line.react span{
  width: 40%;
}

.progress-line.node span {
  width: 60%;
}

.progress-line.express span {
  width: 75%;
}

.progress-line.mongo span {
  width: 88%;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: '95%';

}

.progress-line.css span::after {
  content: '90%';

}

.progress-line.bootstrap span::after {
  content: '80%';

}

.progress-line.sass span::after {
  content: '40%';
}

.progress-line.js span::after {
  content: '60%';

}

.progress-line.ja span::after {
  content: '55%';

}
.progress-line.react span::after{
  content: '40%';
}

.progress-line.node span::after {
  content: '60%';

}

.progress-line.express span::after {
  content: '70%';

}

.progress-line.mongo span::after {
  content: '68%';

}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.btn-resume {
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 1.3rem 3rem;
  border-radius: 10rem;
  background-color: crimson;
  color: white;
  transition: all 0.2s linear;
  margin-top: 25px;
}

.btn-resume:hover,
.btn-resume:active {
  transform: scale(1.05);
}

/*--------------------------------
 hero section style start 
------------------------- */

.section-hero {
  position: relative;
}

.section-hero::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 9.6rem;
  right: 0;
  width: 30%;
  height: 50%;

}

.primary-heading {
  font-size: 6rem;
  font-weight: 700;
}

.section-hero .para {
  margin-top: 2rem;
  margin-bottom: 3.2rem;
}

.hero-icons {
  margin-top: 4.2rem;
}

.hero-icons .icon {
  font-size: 6rem;
  position: relative;
}

.hero-icons .icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  opacity: 0.7;
}

.hero-icons h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.section-hero .hero-icon-style .para {
  line-height: 1.6;
  font-family: 1.4rem;
  margin: 0;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.hero-image img {
  height: 90%;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
}

.hero-img-overlay {
  position: absolute;
  bottom: 0;
  left: -10%;
  padding: 4rem;
}

.hero-img-overlay .para {
  color: white;
}

.hero-img-overlay .para:nth-child(2) {
  margin: 0;
  font-weight: bold;
}

.hero-img-overlay .para:last-child {
  margin: 0;
}

/*.......................project styling start...........................*/

.container-p {
  padding: 1em 0;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}

.content-p {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #888888;
  box-shadow: 5px 15px 15px 10px #888888;
  border-radius: 10px;
  margin-bottom: 30px;
}

.content-p .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content-p:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out;
}

.content-p:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top {
  top: 20%;
}

/*.......................project styling end...........................*/

/*--------------------------------
  media queries style start 
------------------------- */

@media (max-width: 1250px) {
  .container {
    padding: 0 6rem;
  }

  html {
    font-size: 56.25%;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 96rem;
  }

  .section-hero .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-hero .hero-icons .grid-two-column {
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.3s linear;

    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }

  .navbar .navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .navbar-link {
    color: white;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 9999;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 999;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close"] {
    display: block;
    color: white;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu"] {
    display: none;
    color: white;
  }

  .section::before {
    height: 30%;
  }

  

  
}

@media (max-width: 770px) {
  .container {
    max-width: 720px;
  }

  
  .container-p{
    display: grid;
    grid-template-columns: 6fr 6fr;
  }

  .gridd {
    text-align: center;
  }

  .logo {
    font-size: 3rem;
    font-weight: bold;
  }
}

@media(max-width:480px) {
  .text-1 {
    font-size: 18px;
  }

  .text-2 {
    font-size: 10px;
  }
  .section .container .grid .grid-two-column{
    display: grid;
    grid-template-columns: 12fr;
  }

  .section-hero .skills-bar {
    width: 340px;
  }
  .container-p{
    display: grid;
    grid-template-columns: 12fr;
  }
  .hero-image .image{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.pro-heading {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:399px) {
  .grid .grid-two-column {
    align-items: center;
    width: 100px;
  }

  .gridd {
    display: inline;
    text-align: center;
    align-items: center;
    margin: 0 10px 0 10px;
}
.hero-image .image{
  justify-content: center;
  align-items: center;
  text-align: center;
}
}

@media(max-width:770px) {
  .grid .grid-two-column {
    align-items: center;
    width: 100px;
  }

  .gridd {
    display: inline;
    text-align: center;
    align-items: center;
    margin: 0 10px 0 10px;
  }

}

@media(max-width:835px) {
  .grid .grid-two-column {
    align-items: center;
    width: 100px;
  }

}

.btn-arrow {
  font-size: 40px;
  float: right;
  right: 0px;
  margin-right: 20px;
  position: static;
}

/*..............................footer section starts...................................*/
footer {
  background-color: whitesmoke;
}

footer p {
  color: crimson;
}

.main-content {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
}

.box {
  margin-left: 40px;
  margin-top: 20px;
}

.copy {
  text-align: center;
  font-size: 16px;
  color: crimson;
}

.main-content h2 {
  color: crimson;
  font-size: 20px;
  font-weight: bold;
}

.btn-arrow {
  position: absolute;
  right: 20px;
  font-size: 30px;
}

.social a {
  margin-left: 20px;
  font-size: 20px;
  transition: 0.6s;
}

.social a:hover {
  color: crimson;
}

.content .text {
  font-weight: bold;
  color: crimson;
}

@media(max-width:400px) {
  .main-content {
    display: inline-block;
    margin-left: 10px;
  }
  .hero-image .image{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .box {
    margin-left: 10px;
    width: 50%;
  }

  .content p {
    display: inline;
  }

  .copy {
    text-align: center;

  }

  .btn-arrow {
    float: right;
  }

}